/* stylelint-disable */

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff2') format('woff2');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff2') format('woff2');
	font-style: normal;
	font-weight: 800;
}

