/* stylelint-disable */

@font-face {
	font-family: 'Amazing';
	src: url("../fonts/AmazingGroteskDemi.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Amazing';
	src: url("../fonts/AmazingGroteskDemiItalic.woff") format("woff");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Amazing';
	src: url("../fonts/AmazingGroteskUltra.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/MontserratExtraBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/MontserratMedium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/MontserratRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/MontserratSemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'NautilusPompilius';
	src: url("../fonts/NautilusPompilius.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
