
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-size: cover;
        background-position: center top;
    }

    &_warning {
        background-color: #f2f2f2;
    }

    &_news {
        background-image: url("../media/section/news.jpg");
        background-position: center calc(50% - 20px);
    }

    &_product {
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url("../media/section/product.jpg");
        background-position: center top;
    }

    &_effect {
        background-image: url("../media/section/effect.jpg");
        background-size: cover;
    }

    &_why {
        background-image: url("../media/section/why.jpg");
        background-position: center;
    }

    &_professional {
        background-image: url("../media/section/professional.jpg");
        background-position: center top;
    }

    &_commits {
        background-image: url("../media/section/effect.jpg");
        background-size: cover;
    }
}

@media (max-width: 1310px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;

        &_face {
            background-image: url("../media/section/face-1310.jpg");
        }

        &_news {
            padding-bottom: 120px;
            background-position: center bottom;
        }

        &_professional {
            padding-bottom: 300px;
            background-image: url("../media/section/professional-1310.jpg");
            background-position: center bottom;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            background-image: url("../media/section/face-768.jpg");
        }

        &_news {
            padding-bottom: 120px;
        }

        &_professional {
            padding-bottom: 320px;
            background-image: url("../media/section/professional-768.jpg");
        }
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            background-image: url("../media/section/face-480.jpg");
        }

        &_news {
            overflow: hidden;
            padding-bottom: 120px;
        }

        &_product {
            background-image: url("../media/section/product-480.jpg");
            background-position: center calc(100% - 55px);
        }

        &_why {
            background-image: none;
        }

        &_professional {
            background-image: none;
        }
    }
}