<div class="section section_commits">
    <div class="container">
        <div class="commits">
            <h2 class="commits__title section__title">Отзывы покупателей</h2>
            <div class="commits__body">
                <div class="commits__item">
                    <div class="commits__info">
                        <p>«Монастырский сбор посоветовал один знакомый доктор. Стал пить и почти в первые же дни почувствовал значительные улучшения. Давление и самочувствие нормализовались. Пропил месяц, гипертония прошла. Сейчас чувствую себя замечательно».</p>
                        <p><b>Константин Владимирович Р., 53 года, г. Мариуполь</b></p>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__info">
                        <p>«Отличное средство! Давление нормализует лучше, чем таблетки. Пью его уже на протяжении 2 недель, за это время давление не повышалось ни разу. Плюс ко всему здоровье стало лучше. Чувствую себя моложе. Также нравится сам вкус напитка. Пью его вместо обычного. Планирую еще купить. Полезный и вкусный».</p>
                        <p><b>Михаил, 44 года, г. Краснодар</b></p>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__info">
                        <p>«7 лет жила с диагнозом гипертония. Уже даже не надеялась, что смогу от нее избавиться. Но произошло настоящее чудо – она прошла. Я думаю, от монастырского сбора. Пила его полгода курсом. Сейчас гипертонии нет. Даже не могу передать словами, как это замечательно не болеть. Огромное спасибо всем тем, кто этот сбор делает».</p>
                        <p><b>Константин Владимирович Р., 53 года, г. Мариуполь</b></p>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__info">
                        <p>«Пью 1,5 месяца. Все нравится. Прекратились скачки давления, нормализовался сон, улучшилось настроение, перестало покалывать сердце. В целом, чувствую себя здоровой. А еще пропали мысли, что может возникнуть инфаркт или инсульт. Жизнь стала намного насыщенней, практически перестала себя ограничивать. До этого мучилась от гипертонии 8 лет.</p>
                        <p><b>Людмила, 27 лет, г. Самара</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="commits__footer">
            <p>Монастырский сбор эффективнее, чем таблетки, поскольку при его использовании на организм действует весь набор биологически-активных веществ, содержащихся в растениях.</p>
            <div class="commits__prod"></div>
        </div>
    </div>
</div>
</div>