<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы пациентов</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                    <div class="commits__name">Ольга Степанова, <span>63 года</span></div>
                    <div class="commits__description">С возрастом у меня стали появляться всевозможные болячки, и повышенного давления тоже не получилось миновать: 140/90 становилось нормой, а бывало временами и больше. На таблетки садиться не хотелось, жить на препаратах всю оставшуюся жизнь – то ещё удовольствие… Обратившись к врачу, так и описала ему свою проблему. Он выписал мне Teccardin. Всего одного курса этого средства оказалось достаточно, чтобы навсегда забыть о повышенном давлении!</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.jpg" alt=""></div>
                    <div class="commits__name">Михаил Большаков, <span>71 год</span></div>
                    <div class="commits__description">Я не раз обращался к врачам из-за высокого давления, и все они выписывали одни и те же средства, которые не давали продолжительного результата. Дошло все до того, что однажды у меня случился микроинсульт. Благо, обошлось практически без последствий… О Teccardin я узнал случайно, кто-то из знакомых посоветовал. Эффект от приема я  почувствовал сразу: нормализовалось давление. Во-вторых, заметно улучшилось самочувствие в целом – появились силы, сон стал глубже. С момента окончания курсового приема прошло уже шесть месяцев. И теперь мое давление всегда стабильное – 120/80, как в молодости!</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.jpg" alt=""></div>
                    <div class="commits__name">Алла Петрова, <span>68 лет</span></div>
                    <div class="commits__description">Гипертония является моим постоянным спутником уже лет 20, наверно. Поначалу давление было умеренно высоким, но эпизоды повышения артериального давления становились все чаще, и, со временем, 140/90 стало моим привычным давлением. А стресс и переживания провоцировали сильную гипертонию – вплоть до 220/120. Teccardin купили мне дети, так как очень переживали за мое здоровье. Этот препарат мне очень помог. Теперь давление всегда практически как у космонавта! Ни одного побочного эффекта от приема этого средства, сплошные плюсы. Больше никаких таблеток, скорых и кризов.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>