
<section class="section section_danger danger">
    <div class="container">
        <div class="danger__top">
            <h2 class="danger__title">Гипертония? <mark>Вы в опасности!</mark></h2>
            <div class="danger__subtitle">По статистике, каждый пятый человек страдает от повышенного кровяного давления.</div>
        </div>
    </div>
    <div class="danger__human"></div>
    <div class="container">
        <div class="danger__body">
            <div class="danger__item">
                <div class="danger__count">01</div>
                <div class="danger__description"><mark>Артериальная гипертония</mark> вызывает развитие <mark>атеросклероза сосудов</mark> и часто приводит к жизнеугрожающим осложнениям.</div>
            </div>
            <div class="danger__item">
                <div class="danger__count">02</div>
                <div class="danger__description">Сочетание <mark>этих двух заболеваний</mark> – <span>одна из самых частых причин</span> смерти людей.</div>
            </div>
        </div>
    </div>
</section>