<div class="section section_dop">
    <div class="container">
        <div class="dop">
            <h2 class="dop__title section__title">Дополнительные действия монастырского сбора</h2>
            <div class="dop__body">
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-1.png" alt=""></div>
                    <div class="dop__info">Снабжает организм необходимыми витаминами и микроэлементами</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-2.png" alt=""></div>
                    <div class="dop__info">Нормализует обмен веществ</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-3.png" alt=""></div>
                    <div class="dop__info">Повышает иммунитет, обладает общеукрепляющим действием</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-4.png" alt=""></div>
                    <div class="dop__info">Снижает уровень холестерина в крови, очищает сосуды</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-5.png" alt=""></div>
                    <div class="dop__info">Оказывает противовоспалительное действие</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-6.png" alt=""></div>
                    <div class="dop__info">Улучшает аппетит и пищеварение</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-7.png" alt=""></div>
                    <div class="dop__info">Успокаивает нервную систему</div>
                </div>
                <div class="dop__item">
                    <div class="dop__media"><img src="../media/dop/img-8.png" alt=""></div>
                    <div class="dop__info">Нормализует работу желудочно-кишечного тракта</div>
                </div>
            </div>
        </div>
    </div>
</div>