<div class="section section_easy">
    <div class="container">
        <div class="easy">
            <h2 class="easy__title section__title">У вас будет отличное самочувствиекаждый день без таблеток!</h2>
            <div class="easy__body">
                <div class="easy__item">
                    <div class="easy__media"><img src="../media/easy/img-1.png" alt=""></div>
                    <div class="easy__info">При регулярном употреблении сбора давление не будет выходить за пределы нормы</div>
                </div>
                <div class="easy__item">
                    <div class="easy__media"><img src="../media/easy/img-2.png" alt=""></div>
                    <div class="easy__info">Вы снова сможете жить полноценной жизнью без ограничений</div>
                </div>
                <div class="easy__item">
                    <div class="easy__media"><img src="../media/easy/img-3.png" alt=""></div>
                    <div class="easy__info">Вы забудете про таблетки, аптеки и замеры давления</div>
                </div>
                <div class="easy__item">
                    <div class="easy__media"><img src="../media/easy/img-4.png" alt=""></div>
                    <div class="easy__info">Проблема повышенного давления полностью уйдет из вашей жизни, и вы станете здоровыми!</div>
                </div>
            </div>
        </div>
    </div>
</div>