
<section class="section section_effect">
    <div class="container">
        <div class="effect">
            <div class="effect__title">Эффективность доказана клинически</div>
            <div class="effect__subtitle">Институт кардиологии провел клинические испытания Teccardin на группе из 1659 пациентов с разными степенями гипертонической болезни.</div>
            <div class="effect__result">В результате были получены следующие данные:</div>
            <div class="effect__body">
                <div class="effect__item">
                    <div class="effect__count">96%</div>
                    <div class="effect__text">исследуемых</div>
                    <div class="effect__description">Стабилизация давления в пределах 130/80 в первые часы после приема</div>
                </div>
                <div class="effect__item">
                    <div class="effect__count">90%</div>
                    <div class="effect__text">исследуемых</div>
                    <div class="effect__description">Избавление от всех симптомов гипертонии в течение первых недель курсового приема</div>
                </div>
                <div class="effect__item">
                    <div class="effect__count">86%</div>
                    <div class="effect__text">исследуемых</div>
                    <div class="effect__description">Отметили отсутствие приступов гипертонии в течение первой недели курсового приема</div>
                </div>
            </div>
        </div>
    </div>
</section>