 <div class="section section_evens">
    <div class="container">
        <div class="evens">
            <h2 class="evens__title section__title">Основные действия монастырского сбора</h2>
            <div class="evens__body">
                <div class="evens__item">
                    <div class="evens__count">1</div>
                    <div class="evens__info">Помогает нормализовать давление</div>
                </div>
                <div class="evens__item">
                    <div class="evens__count">2</div>
                    <div class="evens__info">Устраняет головные боли и приступы мигрени</div>
                </div>
                <div class="evens__item">
                    <div class="evens__count">3</div>
                    <div class="evens__info">Убирает ощущения онемения, ползания мурашек, покалывания</div>
                </div>
                <div class="evens__item">
                    <div class="evens__count">4</div>
                    <div class="evens__info">Препятствует возникновению гипертонического криза</div>
                </div>
                <div class="evens__item">
                    <div class="evens__count">5</div>
                    <div class="evens__info">Снимает спазм сосудов, укрепляет стенки сосудов</div>
                </div>
                <div class="evens__item">
                    <div class="evens__count">6</div>
                    <div class="evens__info">Выводит холестерин</div>
                </div>
                <div class="evens__item">
                    <div class="evens__count">7</div>
                    <div class="evens__info">Препятствует инфарктам и инсультам</div>
                </div>
            </div>
            <div class="evens__footer">
                <div class="evens__body">
                    <p>Не только убирает симптомы заболевания, но и устраняет причины повышенного давления, оздоровляет организм. В результате при длительном использовании монастырского сбора гипертония проходит полностью!</p>
                </div>
            </div>
        </div>
    </div>
</div>