
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo"><a href="/">Teccardin</a></div>
            <div class="face__body">
                <div class="face__box-left">
                    <h1 class="face__title">Побеждает гипертонию раз и навсегда</h1>
                    <div class="face__list">
                        <div class="face__list-item">
                            <div class="face__list-description">Обновляет клетки сосудов и артерий</div>
                        </div>
                        <div class="face__list-item">
                            <div class="face__list-description">Защищает от инфарктов и инсультов</div>
                        </div>
                        <div class="face__list-item">
                            <div class="face__list-description">Устраняет холестериновые бляшки</div>
                        </div>
                        <div class="face__list-item">
                            <div class="face__list-description">Эффективен на любой стадии гипертонии</div>
                        </div>
                    </div>
                </div>
                <div class="face__box-right">
                    <form class="form">
                        <div class="form__title">Заказать Teccardin</div>
                        <div class="form__price">
                            <div class="form__price-old">78 euro</div>
                            <div class="form__price-new">39 euro</div>
                        </div>
                        <label class="form__label">
                            <div class="form__label-name">Ваша страна:</div>
                            <select class="form__field">
                                <option value="Россия">Россия</option>
                            </select>
                        </label>
                        <label class="form__label">
                            <div class="form__label-name">Ваше имя:</div>
                            <input type="text" class="form__field">
                        </label>
                        <label class="form__label">
                            <div class="form__label-name">Телефон:</div>
                            <input type="text" class="form__field">
                        </label>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции осталось:</div>
                            <div class="form__time-body">
                                <div class="form__time-item">
                                    <span>00</span>
                                    <span>Часов</span>
                                </div>
                                <div class="form__time-item">
                                    <span>12</span>
                                    <span>Минут</span>
                                </div>
                                <div class="form__time-item">
                                    <span>00</span>
                                    <span>Секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">Заказать Teccardin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>