<div class="section section_face">
    <div class="container">
        <div class="face">
            <h2 class="face__title">Наконец-то вы сможете не только нормализовать давление, но и полностью избавиться от гипертонии!</h2>
            <div class="face__body">
                <div class="face__info">
                    <div class="face__info-bonus"><span>Акция!</span></div>
                    <div class="face__info-body">
                        <div class="face__info-discount"><span>Успей купить со скидкой 50%</span></div>
                        <div class="face__info-price">Всего за <span>69 BGN.</span></div>
                        <div class="face__info-speed">До конца акции осталось:</div>
                        <div class="face__info-time">
                            <div class="face__info-time-item">
                                <span>00</span>
                                <span>Часов</span>
                            </div>
                            <div class="face__info-time-item">
                                <span>20</span>
                                <span>Минут</span>
                            </div>
                            <div class="face__info-time-item">
                                <span>59</span>
                                <span>Секунд</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form">
                    <div class="form__title"><span>Акция! Скидка 50%!</span> Подробности уточняйте у операторов.</div>
                    <label class="form__label">
                        <span>Страна:</span>
                        <select class="form__field">
                            <option value="">Болгария</option>
                        </select>
                    </label>
                    <label class="form__label">
                        <span>Фио:</span>
                        <input type="text" class="form__field">
                    </label>
                    <label class="form__label">
                        <span>Телефон:</span>
                        <input type="text" class="form__field">
                    </label>
                    <button class="form__btn">Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>