<div class="section section_header">
    <div class="container">
        <div class="header">
            <h2 class="header__title">Монастырский сбор при гипертонии! Болезнь уйдет навсегда!</h2>
        </div>
    </div>
</div>