<div class="section section_info">
    <div class="container">
        <div class="info">
            <h2 class="info__title section__title">Способ применения</h2>
            <div class="info__body">
                <div class="info__item">
                    <div class="info__media"><img src="../media/info/img-1.png" alt=""></div>
                    <div class="info__info">1 чайную ложку сбора залить 1 стаканом кипятка</div>
                </div>
                <div class="info__item">
                    <div class="info__media"><img src="../media/info/img-2.png" alt=""></div>
                    <div class="info__info">Настоять 15 минут</div>
                </div>
                <div class="info__item">
                    <div class="info__media"><img src="../media/info/img-3.png" alt=""></div>
                    <div class="info__info">Пить как чай 2-3 раза в день</div>
                </div>
            </div>
        </div>
    </div>
</div>