
<section class="section section_news">
    <div class="container-fluid">
        <div class="news">
            <div class="news__body">
                <div class="news__title">Хорошая новость:</div>
                <div class="news__description">от гипертонии можно избавиться навсегда</div>
            </div>
            <div class="news__footer">Хватит снимать симптомы, <a href="#">пора начать полноценное лечение болезни!</a></div>
        </div>
    </div>
</section>