<div class="section section_plus">
    <div class="container">
        <div class="plus">
            <h2 class="plus__title section__title">Особенности монастырского сбора от гипертонии</h2>
            <div class="plus__body">
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-1.png" alt=""></div>
                    <div class="plus__info">Тщательно сбалансированный состав лечебных трав</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-2.png" alt=""></div>
                    <div class="plus__info">На 100% натуральный продукт без побочных действий</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-3.png" alt=""></div>
                    <div class="plus__info">Экологически чистое производство в Свято-Елисаветинском монастыре (Белоруссия)</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-8.png" alt=""></div>
                    <div class="plus__info">Полностью излечивает первую и вторую стадии гипертонии, оказывает положительное действие при третьей</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-5.png" alt=""></div>
                    <div class="plus__info">Рекомендации ведущих врачей</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-6.png" alt=""></div>
                    <div class="plus__info">Улучшает иммунитет</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-7.png" alt=""></div>
                    <div class="plus__info">Укрепляет уставший от лекарств организм</div>
                </div>
                <div class="plus__item">
                    <div class="plus__media"><img src="../media/plus/img-4.png" alt=""></div>
                    <div class="plus__info">Комплексное воздействие на весь организм</div>
                </div>
            </div>
            <div class="plus__footer">
                <p>Первоначальный курс лечения – 3 недели! Чем дольше вы пьете монастырский сбор, тем здоровее становитесь!</p>
                <a href="#" class="plus__btn">Заказать монастырский сбор</a>
            </div>
        </div>
    </div>
</div>