
<section class="section section_product">
    <div class="container">
        <div class="product">
            <div class="product__box-left">
                <div class="product__title">Teccardin – тотальное омоложение <mark>сердца и сосудов</mark></div>
                <div class="product__list">
                    <div class="product__list-item">
                        <p>Улучшает кровообращение <span>во всех жизненно</span> важных органах</p>
                    </div>
                    <div class="product__list-item">
                        <p>Устраняет <span>спазм сосудов</span> и артерий</p>
                    </div>
                    <div class="product__list-item">
                        <p>Нормализует <span>сердечный</span> ритм</p>
                    </div>
                </div>
            </div>
            <div class="product__media"><img src="../media/product.png" alt=""></div>
            <div class="product__box-right">
                <p>Артериальная гипертония и атеросклероз вызывают патологическое сужение кровеносных сосудов.</p>
                <p>Teccardin полностью избавляет от гипертонической болезни, возвращая сосудам эластичность и очищая их от холестериновых бляшек.</p>
                <a href="#" class="product__btn">Заказать Teccardin</a>
            </div>
        </div>
    </div>
</section>