
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__title">Что о Teccardin говорят <mark>специалисты?</mark></div>
            <p>Ежедневно на своей работе я убеждаюсь в том, что подавляющее большинство людей ровным счетом ничего не знают ни о собственном организме, ни о своем здоровье. Многие просто не обращают внимания и не лечат гипертонию, вследствие чего попадают на стол хирурга. И это еще в лучшем случае. В худшем – к патологоанатому.</p>
            <p>Больше пациентов меня разочаровывают только коллеги, назначающие малоэффективные препараты, которые нужно применять на постоянной основе. Это не лечит гипертонию, вы просто заглушаете таким образом симптомы.</p>
            <p>Однако существуют по-настоящему действенные препараты, и о них, к сожалению, знают немногие. Teccardin – уникальное в своем роде средство, которое восстанавливает эластичность сосудов и устраняет спазм – основную причину повышенного давления. Этот препарат обеспечивает обновление структуры тканей артерий и сосудов, за счет чего происходит так называемое «омоложение» всех органов кровеносной системы.</p>
            <div class="professional__footer">
                <div class="professional__name">Андрей <span>Морозов,</span></div>
                <div class="professional__job">главный врач Научно-исследовательского центра профилактической медицины</div>
                <div class="professional__media"><img src="../media/professional/id.png" alt=""></div>
            </div>
        </div>
    </div>
</section>