<div class="section section_visitka">
    <div class="container">
        <div class="visitka">
            <h2 class="visitka__title section__title">Особенности монастырского сбора от гипертонии</h2>
            <div class="visitka__body">
                <p>Крупномасштабные исследования монастырского сбора проводились осенью 2012 года. Всего в них участвовало более 1000 человек. Положительное действие сбора ощутили все без исключения испытуемые. У 94% испытуемых после начала употребления сбора давление стало подниматься намного реже. 67% испытуемых излечились от гипертонии полностью (первая и вторая стадия гипертонии) в течение 1-2 месяцев. Давление при приеме сбора нормализуется сразу же.</p>
                <p><b>Традиционные медикаментозные препараты вызывают много побочных нежелательных действий, монастырский сбор, приготовленный из натуральных трав, таких действий не оказывает! Это полностью натуральный и полезный продукт!</b></p>
            </div>
        </div>
    </div>
</div>