<div class="section section_warning">
    <div class="container">
        <div class="warning">
            <h2 class="warning__title section__title">Основные действия монастырского сбора</h2>
            <div class="warning__body">
                Несмотря на то, что монастырский сбор относительно новый продукт на рынке средств от гипертонии, уже появилось множество его подделок. Помните, подделки и всевозможные аналоги не только не принесут ожидаемых результатов, но и могут навредить вашему здоровью. Приобретая монастырский сбор на этом сайте, вы полностью оградите себя от подобных неприятностей. Только наша компания имеет официальное право на реализацию монастырского сбора в России и Белоруссии!
            </div>
        </div>
    </div>
</div>