
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <h2 class="warning__title">Возможные последствия <mark>гипертонической болезни</mark></h2>
            <div class="warning__body">
                <div class="warning__item"><p>Сердечная недостаточность</p></div>
                <div class="warning__item"><p>Инфаркт миокарда</p></div>
                <div class="warning__item"><p>Острая почечная недостаточность</p></div>
                <div class="warning__item"><p>Кровоизлияние в мозг</p></div>
                <div class="warning__item"><p>Отек <span>легких</span></p></div>
                <div class="warning__item"><p>Отек головного мозга</p></div>
            </div>
        </div>
    </div>
</section>