
<section class="section section_why">
    <div class="container">
        <div class="why">
            <div class="why__title">Почему Teccardin <mark>лучше других препаратов от гипертонии?</mark></div>
            <div class="why__body">
                <div class="why__table why__table_left">
                    <div class="why__table-row">Другие средства</div>
                    <div class="why__table-row">Временный эффект</div>
                    <div class="why__table-row">Снимают симптомы</div>
                    <div class="why__table-row">Пожизненный прием</div>
                    <div class="why__table-row">Наносят вред печени и почкам, нарушают метаболические процессы</div>
                    <div class="why__table-row">Огромный список нежелательных эффектов</div>
                </div>
                <div class="why__table why__table_right">
                    <div class="why__table-row">Teccardin</div>
                    <div class="why__table-row">Полное выздоровление</div>
                    <div class="why__table-row">Устраняет причину</div>
                    <div class="why__table-row">Накопительный эффект</div>
                    <div class="why__table-row">Оздоравливает весь организм, насыщая кровь полезными веществами</div>
                    <div class="why__table-row">Не имеет побочных действий</div>
                </div>
            </div>
        </div>
    </div>
</section>