<div class="section section_why">
    <div class="container">
        <div class="why">
            <h2 class="why__title section__title">Особенности монастырского сбора от гипертонии</h2>
            <div class="why__body">
                <div class="why__item">
                    <div class="why__media"><img src="../media/why/img-1.png" alt=""></div>
                    <div class="why__info">Страдающих гипертонией первой, второй и третьей стадии</div>
                </div>
                <div class="why__item">
                    <div class="why__media"><img src="../media/why/img-2.png" alt=""></div>
                    <div class="why__info">Всем людям старше 40 лет для профилактики гипертонии и улучшения здоровья.</div>
                </div>
            </div>
        </div>
    </div>
</div>