footer {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    font-family: "NautilusPompilius", serif;
    font-weight: 400;
    background-image: url("../media/section/header.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 2px;
    text-shadow: 0 2px 2px #000;
}