.header {
    text-align: center;
    font-size: 28px;
    color: #fffd73;
}

.header__title {
    font-family: "NautilusPompilius", serif;
    font-weight: 400;
}

@media (max-width: 1280px) {
    .header {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 16px;
    }
}