.warning__title {
    color: #fffd73;

    &::before {
        background-image: url("../media/section/bdgreen.png");
    }
}

.warning__body {
    position: relative;
    padding-left: 240px;
    padding-right: 240px;
    font-size: 18px;
    font-family: "Amazing", serif;
    font-weight: 400;
    text-align: center;
    color: #fff;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 140px;
        background-image: url("../media/warning/left.png");
        background-size: cover;
        background-position: center;
        content: '';
        background-repeat: no-repeat;
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 140px;
        height: 140px;
        background-image: url("../media/warning/left.png");
        background-size: cover;
        background-position: center;
        content: '';
        background-repeat: no-repeat;
    }
}

@media (max-width: 1280px) {
    .warning__body {
        padding-left: 155px;
        padding-right: 155px;
    }
}

@media (max-width: 768px) {
    .warning__body {
        padding-left: 75px;
        padding-right: 75px;
    }

    .warning__body {
        &::before {
            width: 60px;
            height: 60px;
        }

        &::after {
            width: 60px;
            height: 60px;
        }
    }
}

@media (max-width: 480px) {
    .warning__body {
        padding-left: 45px;
        padding-right: 45px;
        font-size: 16px;
    }

    .warning__body {
        &::before {
            width: 30px;
            height: 30px;
        }

        &::after {
            width: 30px;
            height: 30px;
        }
    }
}